{% extends 'index.html' %}
{% load static %}
{% block body %}

	<section class="logins py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="title-section mb-md-5 mb-4">
				<h6 class="w3ls-title-sub"></h6>
				<h3 class="w3ls-title text-uppercase text-dark font-weight-bold">Add Category</h3>
			</div><hr/>
			<div class="login px-sm-12" style="width:100%">
				<form action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col-md-12">
                            <label>Category Name</label>
                            <input type="text" class="form-control" name="name" required="">
						</div>
					</div>
                  

					<button type="submit" class="btn btn-primary submit mt-4">Add Category</button>
				</form>
			</div>
		</div>
	</section>
	<!-- //register -->

{% endblock %}